<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <p>Hello <h1>HOME</h1> Page is coming !!!! Hello {{ name }} |||| {{ r }}</p>
    {% for x in range(0, 10) %}
        {% if x % 2 == 0 %}
            <p>Hello Pair {{ x }}</p>
        {% else %}
            <p>Hello Unpair {{ x }}</p>
        {% endif %}
    {% endfor %}
    {% for v in content %}
        {% if v % 2 == 0 %}
            <p>Value v is odd {{ v }}</p>
        {% else %}
            <p>Value v is not odd {{ v }}</p>
        {% endif %}
    {% endfor %}
</body>
</html>